body,p{
    margin: 0%;
    padding: 0px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-left: auto;
    padding: 2em;
}
nav button{
    background-color: #4285F4;
    color: white;
    border: none;
}

nav a{
    text-decoration: none;
    color: black;
}
footer a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
main{
    width: 50%;
    margin:  15.6em auto;
    text-align: center;
}
main p {
    font-size: 1.5em;
    margin: 1em auto;
    
}
main p a{
    text-decoration: none;
}
input{
    width: 80%;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid gray;
    margin-top: 1em;
}

.button-container{
    margin-top: 1.5em;

}
.button-container button{
    padding: 1em;
    border: none;
}
footer{
    background-color: rgba(214, 209, 209, 0.973);
    
}
.first-footer{
    padding:  1em;
}
.second-footer{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}
.left a{
    margin-right: 1em;
}
.right a{
    margin-right: 1em;
}
@media screen and (max-width:  768px){
    nav{
    margin-right: 5em;
    margin: auto;
    text-align: center;
    justify-content: space-between !important;
    width: 60% !important;
    }
    main{
        width: 100%;
        margin:  13em auto;
        text-align: center;
        } 
    main img{
        width: 150px;
        height: 50px;
        margin-top: auto;
    }
    input{
        width: 80%;
        padding: 0.2em;
        border-radius: 30px;
        border: 1px solid gray;
        margin-top: 0.8m;
    }
    .button-container{
        margin-top: 1.5em;
    
    }
    .button-container button{
        padding: 0.7em;
        border: none;
    }
    
    main p {
        font-size: 0.9em;
        
        
    }
    footer{
        background-color: rgba(214, 209, 209, 0.973);
    
        
    }
    .first-footer{
        padding:  1em;
        
        
    }
    .second-footer{
        display: none;
    }
        
    

}